<!DOCTYPE html>
<html lang="en">
<head>

  {% set pageTitle = title or site.title %}
  {% set pageDescription = preview or site.description %}
  {% set pageImage = image or (images[0].src if images else null) %}
  {% set pageUrl = page.url | absoluteUrl(site.url) %}

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{ pageDescription }}" />
  <meta name="color-scheme" content="dark light">
  <title>{{ pageTitle }}{% if title %} · {{ site.title }}{% endif %}</title>
  <link rel="canonical" href="{{ pageUrl }}" />

  <meta property="og:title" content="{{ pageTitle }}" />
  <meta property="og:description" content="{{ pageDescription }}" />
  <meta property="og:url" content="{{ pageUrl }}" />
  <meta property="og:type" content="{{ 'article' if date else 'website' }}" />
  {% if pageImage %}
  <meta property="og:image" content="{{ pageImage | absoluteUrl(site.url) }}" />
  {% endif %}

  <style>
    @font-face {
      font-family: "Alkatra";
      src:
      url({{ '/assets/font/AlkatraVariable.woff2' | url }}) format("woff2"),
      url({{ '/assets/font/Alkatra-Variable.ttf' | url }}) format("ttf");
      font-display: swap;
    }
    @font-face {
      font-family: "Inter";
      src:
      url({{ '/assets/font/InterVariable.woff2' | url }}) format("woff2"),
      url({{ '/assets/font/Inter-Variable.ttf' | url }}) format("ttf");
      font-display: swap;
    }
  </style>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}" />
  <link rel="icon" href="{{ '/assets/img/icon.svg' | url }}">
</head>
<body class="page">

  {% block content %}{% endblock %}

  <footer class="footer">
			Licensed by Alexandra Stephens under <a class="no-contrast" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
  </footer>

</body>
</html>
