{% extends "layout.njk" %}

{% block content %}
<article class="post">

  <a class="post-back" href="{{ '/' | url }}">&larr; Back home</a>

  <h1>{{ title }}</h1>

  {% if date %}
    <p class="post-date">{{ date | readableDate }}</p>
  {% endif %}

  <div class="post-body">
    {{ content | safe }}
  </div>

</article>
{% endblock %}
