/* Reset */

* {
	box-sizing: border-box;
	margin: 0;
	font: inherit;
}

/* Base styles */

:root {
	font-family: system-ui;
	font-size: 1rem;

	--clr-primary: hsl(277 100% 70%);
	--clr-secondary: hsl(350 100% 65%);

	--clr-background: white;
	color: black;

	@media screen and (prefers-color-scheme: dark) {
		--clr-background: #1e1e1e;
		color: white;
	}
}

body {
	background-color: var(--clr-background);
}

footer {
	margin-top: 2rem;
	padding-inline: 1rem;
}

a {
	text-decoration: none;
	color: currentColor;
}

/* Utilities */

.h1 {
	font-size: 3rem;
	font-weight: 700;
}

.h2 {
	font-size: 2rem;
	font-weight: 500;
}

.h3 {
	font-size: 1.5rem;
}

.button {
	display: flex;
	gap: 1ch;
	align-items: center;

	padding: 1rem;
	background: linear-gradient(to right, var(--clr-primary), var(--clr-secondary));
	background-attachment: fixed;
	border-radius: 1rem;

	outline: 7px solid var(--clr-background);
	outline-offset: -6px;
}

.button:hover,
.button:focus-visible {
	outline: 4px solid var(--clr-background);
}

.faded {
	opacity: 0.6;
}

.right {
	margin-left: auto;
}

/* Specific elements */

.hero {
	display: grid;
	place-content: center;
	height: 90dvh;
	gap: 1rem;
	text-align: center;
}

.hero-indicator {
	display: grid;
	place-content: center;
	place-items: center;
	height: 10dvh;
}

.h1 {
	background: linear-gradient(to right, var(--clr-primary), var(--clr-secondary));
	background-attachment: fixed;
	background-clip: text;
	color: transparent;
	margin-bottom: -1rem;
}

.highlight:hover,
.highlight:focus-visible {
	background: linear-gradient(to right, var(--clr-primary), var(--clr-secondary));
	background-attachment: fixed;
	background-clip: text;
	color: transparent;
	outline: none;
}

.mark {
	height: 2rem;
	width: 3rem;
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: contain;

	background: white;
}

*:hover>.mark,
*:focus-visible>.mark {
	background: linear-gradient(to right, var(--clr-primary), var(--clr-secondary));
	background-attachment: fixed;
}

.content-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	padding: 1rem;
	gap: 1.5rem 1rem;
}

.card {
	display: grid;
	position: relative;
	padding: 1rem;
	background: var(--clr-background);
	background-clip: padding-box;
	border: 2px solid transparent;
	border-radius: 2rem;
	max-width: calc(100vw - 2rem);
}

.card:before {
	content: '';
	position: absolute;
	inset: 0;
	z-index: -1;
	margin: -2px;
	border-radius: inherit;
	background: linear-gradient(to right, var(--clr-primary), var(--clr-secondary));
	background-attachment: fixed;
}

.tags {
	position: absolute;
	bottom: -1rem;
	left: 1rem;
	display: flex;
	gap: 0.5rem;
}

.tag {
	padding: 0.25rem 0.5rem;
	border-radius: 0.75rem;
	color: var(--_clr, deeppink);
	background-color: var(--clr-background);
	border: 2px solid var(--_clr, deeppink);
	outline: 2px solid var(--clr-background);
}

/* Why are you looking in here? */
/* Regardless: https://github.com/ozh/github-colors/blob/master/colors.json */
.asm {
	--_clr: #6E4C13;
}
.c {
	--_clr: #555555;
}
.cpp {
	--_clr: #f34b7d;
}
.css {
	--_clr: #563d7c;
}
.html {
	--_clr: #e34c26;
}
.java {
	--_clr: #b07219;
}
.js {
	--_clr: #f1e05a;
}
.py {
	--_clr: #3572A5;
}
.rust {
	--_clr: #dea584;
}
.unreal {
	--_clr: #a54c4d;
}
.wasm {
	--_clr: #6250e7;
}