/* Reset */

* {
	box-sizing: border-box;
	margin: 0;
	font: inherit;
}

/* Base styles */

:root {
	font-family: system-ui;
	font-size: 1rem;

	--clr-primary: hsl(277 100% 70%);
	--clr-secondary: hsl(350 100% 65%);

	--clr-background: white;
	color: black;

	@media screen and (prefers-color-scheme: dark) {
		--clr-background: #1e1e1e;
		color: white;
	}
}

body {
	background-color: var(--clr-background);
}

footer {
	margin-top: 2rem;
	padding-inline: 1rem;
}

a {
	text-decoration: none;
	color: currentColor;
}

/* Utilities */

.h1 {
	font-size: 3rem;
	font-weight: 700;
}

.h2 {
	font-size: 2rem;
	font-weight: 500;
}

.h3 {
	font-size: 1.5rem;
}

.button {
	display: flex;
	gap: 1ch;
	align-items: center;

	padding: 1rem;
	background: linear-gradient(to right, var(--clr-primary), var(--clr-secondary));
	background-attachment: fixed;
	border-radius: 1rem;

	outline: 7px solid var(--clr-background);
	outline-offset: -6px;
}

.button:hover,
.button:focus-visible {
	outline: 4px solid var(--clr-background);
}

.faded {
	opacity: 0.6;
}

.right {
	margin-left: auto;
}

/* Specific elements */

.hero {
	display: grid;
	place-content: center;
	height: 90dvh;
	gap: 1rem;
	text-align: center;
}

.hero-indicator {
	display: grid;
	place-content: center;
	place-items: center;
	height: 10dvh;
}

.h1 {
	background: linear-gradient(to right, var(--clr-primary), var(--clr-secondary));
	background-attachment: fixed;
	background-clip: text;
	color: transparent;
	margin-bottom: -1rem;
}

.highlight:hover,
.highlight:focus-visible {
	background: linear-gradient(to right, var(--clr-primary), var(--clr-secondary));
	background-attachment: fixed;
	background-clip: text;
	color: transparent;
	outline: none;
}

.card {
	display: grid;
	position: relative;
	padding: 1rem;
	background: var(--clr-background);
	background-clip: padding-box;
	border: 2px solid transparent;
	border-radius: 2rem;
}

.card:before {
	content: '';
	position: absolute;
	inset: 0;
	z-index: -1;
	margin: -2px;
	border-radius: inherit;
	background: linear-gradient(to right, var(--clr-primary), var(--clr-secondary));
	background-attachment: fixed;
}

.mark {
	height: 2rem;
	width: 3rem;
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: contain;

	background: white;
}

*:hover>.mark,
*:focus-visible>.mark {
	background: linear-gradient(to right, var(--clr-primary), var(--clr-secondary));
	background-attachment: fixed;
}

.content-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	padding: 1rem;

}