/* Reset */

* {
	box-sizing: border-box;
	margin: 0;
	font: inherit;
}

/* Base styles */

:root {
	font-family: system-ui;
	font-size: 1rem;

	--clr-primary: hsl(277 100% 70%);
	--clr-accent: hsl(350 100% 65%);
}

body {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	padding: 1rem;

	@media screen and (prefers-color-scheme: dark) {
		background-color: #1e1e1e;
		color: white;
	}
}

main {
	display: flex;
	flex-direction: column;
	place-content: center;
	gap: 2rem;
}

footer {
	margin-top: 2rem;
}

section {
	display: grid;
	gap: 1rem;
}

a {
	text-decoration: none;
	color: currentColor;
}

/* Utilities */

.h1 {
	font-size: 3rem;
	font-weight: 700;
}

.h2 {
	font-size: 2rem;
	font-weight: 500;
}

.h3 {
	font-size: 1.5rem;
}

.card {
	padding: 0.5rem;
	border-radius: 0.5rem 0.5rem 1.5rem 0.5rem;
	background-color: hsl(277 100% 70% / 0.2);
}

.button {
	border: 1px solid white;
	border-radius: 1em;
	padding: 0.5em;
}

.flex-center {
	display: flex;
	justify-content: center;
	gap: 0.5em;
}

.even-columns {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.centered {
	text-align: center;
}

.faded {
	opacity: 0.6;
}

.right {
	margin-left: auto;
}

/* Specific elements */

.hero {
	height: 90vh;
	padding-block: 40vh;

	background-image: linear-gradient(to right, var(--clr-primary), var(--clr-accent));
	background-clip: text;

	--fa-primary-opacity: 0;

	.h1 {
		color: transparent
	}

	a {
		transition: color 300ms;
		outline: none;
	}

	a:hover,
	a:focus-visible {
		color: transparent;
	}
}